<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.batsoftware.contagiapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.batsoftware.contagiapp.impostazioni.SegnalaNegativita"
            android:parentActivityName="com.batsoftware.contagiapp.impostazioni.SettingActivity" />
        <activity
            android:name="com.batsoftware.contagiapp.impostazioni.SegnalaPositivitaActivity"
            android:parentActivityName="com.batsoftware.contagiapp.impostazioni.SettingActivity" />
        <activity
            android:name="com.batsoftware.contagiapp.impostazioni.EventsPartecipatoPositivo"
            android:parentActivityName="com.batsoftware.contagiapp.impostazioni.SegnalaPositivitaActivity" />

        <activity android:name="com.batsoftware.contagiapp.amici.ProfiloUtentiActivity"/>

        <activity android:name="com.batsoftware.contagiapp.amici.AddFriendsActivity" />
        <activity android:name="com.batsoftware.contagiapp.gruppi.InvitaAmiciGruppoActivity" />
        <activity
            android:name="com.batsoftware.contagiapp.gruppi.AddImgGruppoActivity"
            android:parentActivityName="com.batsoftware.contagiapp.gruppi.CreaGruppoActivity" />
        <activity android:name="com.batsoftware.contagiapp.gruppi.CreaGruppoActivity" />
        <activity
            android:name="com.batsoftware.contagiapp.impostazioni.SettingActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/settings" />
        <activity android:name="com.batsoftware.contagiapp.notifiche.Smistamento" />
        <activity
            android:name="com.batsoftware.contagiapp.registrazione.RegistrationActivity"
            android:parentActivityName="com.batsoftware.contagiapp.WelcomeActivity" />
        <activity
            android:name="com.batsoftware.contagiapp.ui.login.LoginActivity"
            android:parentActivityName="com.batsoftware.contagiapp.WelcomeActivity" />
        <activity
            android:name="com.batsoftware.contagiapp.LaunchScreenActivity"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.batsoftware.contagiapp.utente.ProfiloActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/account">
            <intent-filter>
                <action android:name="android.intent.action.ProfiloActivity" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.batsoftware.contagiapp.WelcomeActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name="com.batsoftware.contagiapp.MainActivity"/>
        <activity android:name="com.batsoftware.contagiapp.eventi.NewEventsActivity">
            <intent-filter>
                <action android:name="android.intent.action.NewEventsActivity" />
            </intent-filter>
        </activity>
        <activity android:name="com.batsoftware.contagiapp.utente.ModificaUtenteActivity">
            <intent-filter>
                <action android:name="android.intent.action.ModificaUtenteActivity" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>